anyio==3.5.0
asgiref==3.4.1
attrs==21.4.0
black==22.1.0
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.3
contextlib2==21.6.0
contextvars==2.4
defusedxml==0.7.1
fastapi==0.74.1
flake8==4.0.1
h11==0.13.0
h5py==3.1.0
httpie==2.6.0
idna==3.3
immutables==0.16
importlib-metadata==4.2.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
mypy==0.931
mypy-extensions==0.4.3
numpy==1.19.5
orjson==3.6.1
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pydantic==1.9.0
pyflakes==2.4.0
Pygments==2.11.2
pyparsing==3.0.7
PySocks==1.7.1
pytest==7.0.1
requests==2.27.1
requests-toolbelt==0.9.1
sniffio==1.2.0
starlette==0.17.1
termcolor==1.1.0
tomli==1.2.3
typed-ast==1.5.2
typing_extensions==4.1.1
urllib3==1.26.8
uvicorn==0.16.0
Werkzeug==2.0.3
zipp==3.6.0
